.Meet {
  background: url("../../public/Meeting.svg");
  background-repeat: no-repeat;
}
.Body1 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
}
.teamwork {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Garchig {
  font-weight: 700;
  font-size: 50px;
  color: black;
}
.title {
  font-size: 20px;
  font-weight: 400;
}
.sda {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.li {
  color: #4da0fd;
}
.Body2 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
}
.simple {
  height: 100vh;
}
.zurg1 {
  width: auto;
  height: 1100px;
}
.Body3 {
  background-color: rgb(234, 234, 234);
}
.zurg2 {
  width: auto;
  height: 800px;
}
.zurg3 {
  width: auto;
  height: 800px;
}
.bruhh {
  display: flex;
  justify-content: start;
  margin-top: 10%;
}
.Body4 {
  /* text-align: center; */
  font-weight: bolder;
  height: 100vh;
  width: 100vw;
  background-color: rgb(234, 234, 234);
}
