.carddd {
  width: 366px;
  height: 374px;
  background-color: white;
  margin-left: 5%;
  box-shadow: 10px 20px 20px rgb(196, 194, 194);
}
.od {
  width: 24px;
  height: 24px;
}
.tegsh {
  display: flex;
  justify-content: start;
  margin: 5%;
}
.a {
  margin: 5%;
  display: flex;
  justify-content: start;
  margin-top: 30%;
}
