.team {
  background: url("./team.svg");
  width: 120px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10%;
  color: white;
  font-size: 64px;
  font-weight: 800;
}
.h-h {
  color: white;
}
.ehlel {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
}
